
.titleBlock{
    width:100%;
    height: 15vh;
}

.contentBlock{
    display:inline-block;
    background-color: #98ceff;
    height: flex;
    width: 100%;
}

.imageBlock{
    max-width: 10vw;
    max-height: 10vh;
    margin-right: 6%;
}



