.draw-line-left  {
    transition: transform 1.5s ease-in;
}

.draw-line-bottom {
    transition: transform 2s ease-in;
}

.grow-line {
    width: 50px;
}

.animate-grow {
    width: 150px;
    transition: width 1s ease-in;
}

.animate-drawing-left {
    transform: translateX(-150px);
}

.animate-drawing-bottom {
    transform: translateY(200px);
}