.draw-line-left  {
    transition: transform 1.5s ease-in;
}

.draw-line-bottom {
    transition: transform 1.5s ease-in;
}

.animate-drawing-left {
    transform: translateX(-150px);
}

.animate-drawing-bottom {
    transform: translateY(200px);
}