:root {
    --rotate-y: 0;
    --translate-y: 0;
}

.card {
    transform-style: preserve-3d;
    transition: 300ms;
    transform: perspective(1000px) rotateY(var(--rotate-y))
    translateY(var(--translate-y));
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front,
.card .back {
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
}
