.wrapper {
  position: relative;
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileMainLoader {
  z-index: 9000 !important;
}

.profileMainLoader .loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height: 200px;
}

.profileMainLoader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circularLoader {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loaderPath {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  animation: dash 1.5s ease-in-out infinite, color 7.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes color {
  10% {
    stroke: #0081C8; /* Blue */
  }
  30% {
    stroke: #FCB131; /* Yellow */
  }
  50% {
    stroke: #000000; /* Black */
  }
  70% {
    stroke: #00A651; /* Green */
  }
  90% {
    stroke: #EE334E; /* Red */
  }
}