@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply min-w-[90px] text-center bg-main-blue hover:bg-secondary-blue text-white text-base px-4 py-2 rounded-full;
  }
}

.logo-bg {
    background-image: url('/icaf-logo.svg');
    background-size: cover;
    background-position: center;
  }
  