@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply min-w-[90px] text-center bg-main-blue hover:bg-secondary-blue text-white text-base px-4 py-2 rounded-full;
  }
}

.logo-bg {
    background-image: url('/MFS_Logo_V3.svg');
    background-size: cover;
    background-position: center;
  }

.heart-white{
  background-image: url('/heartWhite.gif');
  background-size: cover;
  background-position: center;
  height: 24px;
  width: 48px;
}

.heart-black{
  background-image: url('/heartBlack.gif');
  background-size: cover;
  background-position: center;
  height: 24px;
  width: 48px;
}

.un {
  display: hidden;
}

.un:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #134380;
  transition: 600ms;
}

.un:hover:after {
  width: 100%;
}

.transition-color {
  transition: color 0.5s ease;
}

.checkbox-and-radio-item input[type="checkbox"]:checked + label {
  font-weight: bold;
}

.layout-height {
  min-height: calc(100vh - 130px);
}

@media (min-width: 768px) {
  .layout-height {
    min-height: calc(100vh - 170px);
  }
}