@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply min-w-[90px] text-center bg-main-blue hover:bg-secondary-blue text-white text-base px-4 py-2 rounded-full;
  }
}

.logo-bg {
    background-image: url('/new-header.webp');
    background-size: cover;
    background-position: center;
  }

.heart-white{
  background-image: url('/heartWhite.gif');
  background-size: cover;
  background-position: center;
  height: 24px;
  width: 48px;
}

.heart-black{
  background-image: url('/heartBlack.gif');
  background-size: cover;
  background-position: center;
  height: 24px;
  width: 48px;
}

.un {
  display: hidden;
}

.un:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #134380;
  transition: 600ms;
}

.un:hover:after {
  width: 100%;
}